*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}
.box1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
    

}

.box1 img{
    border: 7px solid #fff;
    width: 350px;
    height: 200px;
    border-radius: 20px;
    margin-left: 10px ;
}

.box1 li{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        border: 5px solid rgb(255, 254, 254);
        border-radius: 25px;
        padding: 10px 25px;
        background-color: rgb(49, 56, 156);
        color: #fff;
        width: 100px;
        text-align: center;
        margin-left: 40px;
       
       
}
 
ul{
    display: flex;

}
 
.box1 li:hover{ 
    background: #fff;
    color:rgb(49, 56, 156) ;
    border: 5px solid rgb(49, 56, 156);
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    margin-right: 50%;
    margin-bottom: 30px;
    margin-top: 90px;
    color: #fff;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    max-width: 1000px;
    margin-left: 5%;
    margin-bottom:30p
    color: #fff;
}

li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    max-width: 1000px;
    margin-left: 20%;
    color: #fff;
    margin-bottom: 10px;

}

#box3 .x img{
   position: absolute;
   display: flex;
    right: 80px;
    top: 100%;
    width: 400px;
    border-radius: 60%;
    margin-bottom: 10px;
   
}

#box4 .y img{
     position: absolute;
   display: flex;
    right:80px;
    top: 150%;
    width: 400px;
    height: 300px;
    border-radius: 60%;
   
   

}

body{
    background-image: url(World\ Wide\ Web\ Day.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#box5 img{
    width: 400px;
    height: 300px;
    display: flex;
    position: absolute;
    right: 0;
    top: 190%;
    border-radius: 70%;
    left: 72%;


    
}

#box6 img{
   position: absolute;
   display: flex;
   width: 400px;
   height: 300px;
   right: 0;
   top: 230%;
   border-radius: 70%;
   left: 72%;
}









   



