.alignement
{
    display: flex;margin: 20px;
    
}
h1{
    margin:0 20px;
    color: blue;
    
}

div{
    font-family: cambria;

}
body{
    background-color: rgba(45, 78, 139,0.5);
}

