ul
{
	display:flex;
	justify-content:center;
	
	
}	


	
li

{
	background-color:rgba(20, 65, 80, 0.6);
	height:30px;
	width:80px;
	border-radius:20px;
	margin:20px;
	
	display:flex;
	justify-content:center;
	align-items:center;
	transition: background-color 0.5s ease,transfrom 0.3 ease;
	
}	

li:hover{
	background-color: brown;
	transform: scale(1.1);
}

.boite1
{
	margin:0;
	padding: 0;
	background-image: url("4.jpg");
	min-height: 100%;
	min-width: 100px;
	background-repeat:no-repeat;
	background-size:cover;
	align-items: center;
}


.navbar a
{
	text-decoration: none;
	color:whitesmoke;
	font-weight: 600;
	padding: 0 10px;
	margin:0 10px;
}

body
{
	margin: 0;
	justify-content: center;
	align-items: center;
	
}


.boite2{
	position: relative;
	margin: 300px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: black;
	overflow: hidden;
	width: 400px;
	height:200px;
	border-radius: 20px;
}



.boite2::before{
	content:'';
	position: absolute;
	width: 150%;
	height: 150px;
	background:linear-gradient(#00ccff,#d500f9);
	animation: rotate 4s linear infinite;
	

}

.boite2::after{
	content:'';
	position: absolute;
	background:black;
	width: 390px;
	height: 190px;
	border-radius: 15px;
	
	
	
	
}

@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.boite2 h1{
	z-index: 2;
}
h1
{

	margin: 0;
	text-align: center;
	justify-content: center;
	height: 200px;
	width: 400px;
	border-radius: 20px;
	align-items: center;
	font-size: 50px;
	min-height: 10vh;
	z-index: ;
	color: azure;
}
	


